@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
    --page-spacing: 40px;
    --theme-color: #bf8900;
    --quantity-cell-size: 5ch;
    --theme-horizontal-gradient: linear-gradient(to right,
        lch(from var(--theme-color) calc(l + 10) c h),
        var(--theme-color) 30%,
        lch(from var(--theme-color) calc(l - 10) c h)
    );
    --theme-vertical-gradient: linear-gradient(to bottom,
        lch(from var(--theme-color) calc(l + 20) c h),
        lch(from var(--theme-color) calc(l - 10) c h)
    );
}
* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    background-image: url(./img/wallpaper.png);
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    font-family: system-ui, Noto Sans JP;
    padding-block: 15px;
    font-size: 14px;
    font-weight: 500;
}
main {
    background-color: white;
    color: var(--theme-color);
    border: 3px solid transparent;
    background-image: linear-gradient(white, white), var(--theme-vertical-gradient);
    background-clip: border-box, border-area;
    background-origin: padding-box, border-box;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 700px;
    overflow: auto;
    width: 100%;
    margin: auto;
    max-height: 100%;
    display: flex;
    scrollbar-width: none;
    align-items: start;
}

.thanks-page body {
    background-image: url(./img/wallpaper2.png);
    align-content: center;
}

.button {
    cursor: pointer;
    border-radius: 2em;
    border: none;
    padding: .5em 1em;
    background-color: var(--theme-color);
    color: white;
    font: inherit;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: color-mix(in srgb, black 7%, var(--theme-color));
}

.button:hover:active {
    background-color: color-mix(in srgb, black 15%, var(--theme-color));
}

header {
    display: none;
    text-align: center;
    margin-bottom: var(--page-spacing);
    h1 {
        font-size: 1.65em;
        text-transform: uppercase;
        margin: 0;
        word-spacing: 10px;
        letter-spacing: 1px;
        font-weight: 600;
        ruby rt {
            font-size: .8em;
        }
    }
}

.toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;

    &:not(:last-child) {
        padding-bottom: var(--page-spacing);
    }

    .spacer {
        flex: 1;
    }
    ruby {
        ruby-align: start;
        ruby-overhang: none;
        rt {
            font-size: .8em;
        }
    }

    #tel {
        flex: 1;
    }

    input:not([type=color]) {
        color: inherit;
        font: inherit;
        appearance: none;
        background: none;
        border: none;
        border-radius: 0;
        &:read-write {
            border-bottom: 1px solid;
        }

        &[type=tel] {
            min-width: 12ch;
            max-width: 100%;
        }

        &[type=number] {
            width: 5ch;
        }

        &[type=number][readonly]::-webkit-inner-spin-button {
            display: none;
        }
        &[type=number][readonly]::-moz-number-spin-box {
            display: none;
        }
    }

    #napkin-color {
        input {
            width: 2ic;
            height: 2ic;
        }
    }
}
form {
    flex: 1;
    padding-block: var(--page-spacing);
    min-width: 0;
}
aside {
    font-size: 40px;
    margin: var(--page-spacing);
    text-box: trim-both cap alphabetic;
    white-space: nowrap;

    &[lang=en] {
        text-transform: uppercase;
        writing-mode: vertical-lr;
        word-spacing: 10px;
        letter-spacing: 1px;
        text-align: end;
        @supports (writing-mode: sideways-lr) {
            & {
                writing-mode: sideways-lr;
            }
        }
        @supports not (writing-mode: sideways-lr) {
            & {
                transform: scale(-1);
            }
        }
    }
    &[lang=ja] {
        writing-mode: vertical-lr;
    }
}
p {
    line-height: 1.25lh;
}
table {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
    margin-bottom: var(--page-spacing);
    @supports (background-clip: border-area) {
        & {
            background-image: var(--theme-horizontal-gradient);
            background-clip: border-area;
            border-color: transparent;
        }
    }
    td.collapsed {
        white-space: nowrap;
        width: 1px;
    }
    th,
    &.menu-table summary,
    &.menu-table td:last-child,
    &.summary-table td,
    td.padded,
    td > textarea {
        padding: .8em 1ic;
        text-box: trim-both cap alphabetic;
    }
    td:has(input),
    td:has(textarea) {
        padding: 0;
    }
    td > textarea {
        width: 100%;
        min-height: 1lh;
        height: 5lh;
        field-sizing: content;
        margin: 0;
        appearance: none;
        background: none;
        border: none;
        border-radius: 0;
        font: inherit;
        color: inherit;
        resize: none;
    }
    td > textarea::placeholder {
        color: color-mix(in srgb, currentColor 70%, transparent);
    }
    th {
        background-color: color-mix(in srgb, currentColor 10%, transparent);
        @supports (background-clip: text) {
            & {
                background-image: linear-gradient(color-mix(in srgb, currentColor 10%, transparent), color-mix(in srgb, currentColor 10%, transparent)),
                    var(--theme-horizontal-gradient);
                background-clip: border-box, text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    th, td {
        text-align: start;
        border-block-end: 1px solid currentColor;
        border-inline-end: 1px solid;
    }
    tfoot {
        font-weight: bold;
    }
    input {
        width: var(--quantity-cell-size);
        height: 2lh;
        padding-inline-start: .5ic;
        text-align: center;
        border: none;
        display: block;
        font: inherit;
        color: inherit;
    }
    details {
        width: 100%;
        -webkit-user-select: none;
        user-select: none;
        summary {
            align-items: center;
            list-style: "📷" inside;
            cursor: pointer;
            span {
                margin-left: 1ic;
            }
            span[lang=ja] {
                display: inline-block;
                width: 3ic;
            }
        }
        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
        }
        &::details-content {
            box-sizing: border-box;
            height: 0;
            transition: height .3s, content-visibility .3s allow-discrete;
            overflow: hidden;
        }
        &[open]::details-content {
            height: 230px;
        }
    }
}

#requests td {
    white-space: pre;
}

h1 {
    font-weight: 600;
}

.order-page main {
    height: 100%;
}

.summary-page form > h1 {
    margin-top: 0.2em;
    margin-bottom: var(--page-spacing);
    @supports (background-clip: text) {
        & {
            background-image: var(--theme-horizontal-gradient);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.summary-page table th:first-child,
.summary-page table td.collapsed:first-child {
    width: calc(var(--quantity-cell-size) - 1px);
}

.thanks-page {
    --page-spacing: 3em;
    main {
        padding: var(--page-spacing);
        padding-bottom: calc(var(--page-spacing) * .9); /* optical alignment */
    }
    form {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: var(--page-spacing);
    }
    h2 {
        font-size: 1.3em;
    }
    img {
        height: 11em;
        min-height: 100%;
        max-width: 100%;
        display: inline-block;
        border: 5px solid transparent;
        background-clip: border-area;
        background-image: url(./img/frame.jpeg);
        background-size: cover;
    }
}

.thanks-page h1 {
    font-size: 1.5em;
    margin-top: 0;
    text-box: trim-start cap text;
}

@media (max-width: 600px) {
    :root {
        --page-spacing: calc(.75 * 30px);
    }
    header {
        display: block;
    }
    aside {
        display: none;
    }
    main {
        padding: 1em;
    }
    .summary-page form > h1 {
        text-align: center;
    }
    .thanks-page img {
        min-height: 0;
    }
}